
.Xauthority
.Xresources
.bash_history
.bash_logout
.bash_profile
.bin/
.cache/
.config/Code - OSS/
.config/Electron/
.config/Kvantum/
.config/Thunar/
.config/Trolltech.conf
.config/archlinux-logout/
.config/arcolinux-welcome-app/
.config/autostart/
.config/conky/
.config/dconf/
.config/fontconfig/
.config/galculator/
.config/gtk-3.0/
.config/htop/
.config/mimeapps.list
.config/nano/
.config/neofetch/
.config/nitrogen/
.config/nomacs/
.config/paru/
.config/pavucontrol.ini
.config/pulse/
.config/qt5ct/
.config/rofi/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/variety/
.config/vlc/
.config/volumeicon/
.config/xfce4/
.config/yad.conf
.conkyrc
.dmrc
.face
.fehbg
.gitconfig
.gtkrc-2.0
.local/
.mozilla/
.pki/
.screenrc
.ssh/
.vscode-oss/
.xinitrc
.xsession
.xsessionrc
.zshrc
.lesshst