setxkbmap es
#xrandr --output HDMI-0 --off --output DP-0 --off --output DP-1 --off --output DP-2 --mode 1920x1200 --pos 0x0 --rotate left --output DP-3 --off --output DP-4 --mode 1920x1080 --pos 1200x181 --rotate normal --output DP-5 --off &
xrandr --output HDMI-0 --off --output DP-0 --off --output DP-1 --off --output DP-2 --mode 1920x1200 --pos 0x0 --rotate left --output DP-3 --off --output DP-4 --mode 1920x1080 --pos 1200x246 --rotate normal --output DP-5 --off &
nitrogen --restore &
picom &
#volumeicon &
#udiskie -t &
conky &
#nm-applet &

